<div id="wrapper">
  <h1>News Scraper</h1>
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-6">
      <div id="articles">
    {{#each Articles}}
    {{> articles/article-block}}
    {{/each}}
  </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div id="notes"></div>
        </div>
      <div class="row">
        <div id="newNotes"></div>
        </div>
    </div>
  </div>
  
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
