<div class='card'>
  <div class='card-body'>
    <h6 class='card-subtitle mb-2 text-muted'>"+ data.note[i].title +"</h6>
    <p class='card-text'>"+ data.note[i].body+"</p>
    <a href='#' class='card-link'>Card link</a>
    <a href='#' class='card-link' id='deletenote'>Another link</a>
  </div>
</div>